// ColorsGlobal
$white: #fff;
$black: #000;
$blue: #2F54EB;
$green: #52C41A;
$grey: #F5F6FE;
$greyDark: #646464;
$orange: #FA8C16;
//BTNS
$orangeHover: #F16E00;
$orangeFocused: #F16E00;
$orangeDisabled: #FCC58A;




